@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

html,body{
	color: #444;
	width: 100%;
	font-size: 15px;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, "Nimbus Sans L", "Open Sans", "Roboto", "Segoe WP", "Segoe UI", arial, "Liberation Sans", freesans, clean, "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans CJK TC", "Source Han Sans TW", "Noto Sans CJK JP", "Source Han Sans JP", "Noto Sans CJK", "Source Han Sans", "Microsoft YaHei UI", "Microsoft YaHei", DengXian, "Wenquanyi Micro Hei", "ST Heiti", "Droid Sans Fallback", "Microsoft JhengHei", SimSun, sans-serif;
}

::selection{
	background:rgba(0,0,0,.25);
}

.clear:after{
  content:"";
  display:block;
  height:0;
  visibility:hidden;
  clear:both;
}

.container{

}

a{
	text-decoration: none;
}

.header{
	background: #65BCD8;
	box-shadow: 0 3px 6px rgba(0,0,0,.08);
}

.header .inner {
	position: relative;
	width: 1000px;
	height: 160px;
	margin: 0 auto;
	color: #fff;
}

.header h1 {
	font-size: 60px;
	font-weight: normal;
	padding-top: 30px;
}

.header h2{
	font-size: 22px;
	font-weight: normal;
	padding-top: 5px;
}

.header a {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 100%;
}

.header a:hover{
	background: #fff;
	color: #65BCD8;
}

ul.notebox li{
	list-style: none;
	min-height: 140px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.08);
}

ul.notebox li i{
	float: left;
	width: 140px;
	height: 100%;
	min-height: 140px;
	line-height: 140px;
	background: #66ccff;
	color: #fff;
	font-size: 60px;
	text-align: center;
}

ul.notebox li .content{
	position: relative;
	padding: 15px;
	padding-left: 170px;
	height: 110px;
}

ul.notebox li .content p{
	font-size: 20px;
}

ul.notebox li .content .sub{
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-size: 13px;
	color: #999;
	vertical-align: text-bottom;
}

ul.notebox li .content .sub span.user{
	font-size: 20px;
	color: #666;
	padding-left: 10px;
}
